In [1]:
# numpy æ˜¯æ‰€æœ‰æ•°æ®ç§‘å­¦ï¼Œæœºå™¨å­¦ä¹ çš„åŸºç¡€ï¼ï¼ï¼
# ä¸ºä»€ä¹ˆnumpy
# 1.å¿«é€Ÿ
# 2.åŸºäºCè¯­è¨€ä¼˜åŒ–
# 3.å…¶ä»–ä¸€äº›Python æ•°æ®ç§‘å­¦packagesçš„åŸºç¡€

In [2]:
import numpy as np

In [3]:
# numpyçš„æ•°æ®ç±»å‹å’Œå±æ€§

In [4]:
# numpyä¸»è¦çš„æ•°æ®ç±»å‹ä¸ºnarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [5]:
type(a1)

numpy.ndarray

In [7]:
a2 = np.array([[1,2,3],
              [4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10,11,12],
               [13,14,15],
              [16,17,18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [12]:
print(a1.shape,a2.shape,a3.shape)

(3,) (2, 3) (2, 3, 3)

In [14]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [15]:
import pandas as pd
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

In [16]:
#  åˆ›å»ºarray
zero_array = np.zeros((2,2))

In [17]:
zero_array

array([[0., 0.],
       [0., 0.]])

In [18]:
random_array = np.random.randint(0, 10, size=10) # åˆ›å»ºä¸€ä¸ªéšæœºçš„æ•´å‹æ•°ç»„ï¼ŒèŒƒå›´åœ¨0åˆ°10ä¹‹é—´(åŒ…å«0ä½†ä¸åŒ…å«10)ï¼Œsize=10è¡¨æ˜å–10ä¸ªéšæœºæ•°
random_array

array([0, 7, 7, 6, 7, 1, 6, 2, 1, 8])

In [20]:
# å¦‚æœsizeæ˜¯ä¸€ä¸ªtupleçš„è¯ï¼Œåˆ™ä¼šåˆ›å»ºä¸åŒç»´åº¦çš„éšæœºæ•°ç»„ï¼Œæ¯”å¦‚ä¸‹é¢çš„ä¾‹å­ï¼Œä¼šåˆ›å»º3è¡Œ5åˆ—çš„éšæœºæ•°ç»„
random_array = np.random.randint(0,10,size=(3,5))
random_array

array([[1, 5, 0, 8, 1],
       [5, 4, 1, 5, 7],
       [3, 2, 1, 5, 6]])

In [21]:
random_array.shape

(3, 5)

In [27]:
# é™¤æ•´å‹éšæœºæ•°ç»„å¤–ï¼Œè¿˜æœ‰ä¸€èˆ¬æ€§çš„éšæœºæ•°ç»„(èŒƒå›´åœ¨[0,1)ä¹‹é—´)ï¼ŒæŠŠrandintæ›¿æ¢ä¸ºrandomå³å¯
random_array_2 = np.random.random((5,3))
random_array_2

array([[0.95108802, 0.01633844, 0.87283188],
       [0.83988743, 0.46403937, 0.86634481],
       [0.86858512, 0.5071557 , 0.5370157 ],
       [0.24284872, 0.61353677, 0.75382099],
       [0.40369379, 0.39388775, 0.14265081]])

In [31]:
random_array_3 = np.random.rand(5,3)
random_array_3

array([[0.46559593, 0.96842287, 0.17012196],
       [0.03661338, 0.17137589, 0.04788894],
       [0.83786876, 0.14391119, 0.17845491],
       [0.74005422, 0.32578483, 0.59488793],
       [0.71155922, 0.13992846, 0.25929923]])

In [ ]:
# ä»è¿™é‡Œå¯ä»¥çœ‹å‡ºï¼Œrandomå’Œrandéƒ½å¯ä»¥ç”Ÿæˆä¸€ä¸ªæŒ‡å®šå¤§å°çš„éšæœºæ•°ç»„ï¼Œä½†ç¨å­˜åœ¨ä¸€äº›åŒºåˆ«
# randç›´æ¥ä½¿ç”¨å‚æ•°ä¼ é€’å¤§å°ï¼Œè€Œrandomåˆ™æ˜¯é€šè¿‡sizeæŒ‡å®šå¤§å°

# random seed

In [36]:
# ç†è§£ï¼Œrandomå…¶å®å¹¶ä¸æ˜¯çœŸæ­£çš„éšæœºï¼Œè€Œæ˜¯ç”±éšæœºç§å­æ§åˆ¶çš„
# è®¾ç½®éšæœºç§å­ï¼Œä¿è¯æ¯æ¬¡è¯•éªŒçš„ç»“æœä¸€è‡´
np.random.seed(123)
random_array_4 = np.random.rand(5,3)
random_array_4

array([[0.69646919, 0.28613933, 0.22685145],
       [0.55131477, 0.71946897, 0.42310646],
       [0.9807642 , 0.68482974, 0.4809319 ],
       [0.39211752, 0.34317802, 0.72904971],
       [0.43857224, 0.0596779 , 0.39804426]])

## è§‚å¯Ÿæ•°ç»„å’ŒçŸ©é˜µ

In [37]:
# unique: Find the unique elements of an array.
np.unique(random_array_4)

array([0.0596779 , 0.22685145, 0.28613933, 0.34317802, 0.39211752,
       0.39804426, 0.42310646, 0.43857224, 0.4809319 , 0.55131477,
       0.68482974, 0.69646919, 0.71946897, 0.72904971, 0.9807642 ])

In [38]:
a1

array([1, 2, 3])

In [39]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [40]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [41]:
a2[1]

array([4, 5, 6])

In [49]:
random_array_5 = np.random.randint(0,10,size=(1,2,3,4,4))
random_array_5

array([[[[[7, 1, 5, 7],
          [9, 2, 4, 8],
          [1, 2, 1, 1],
          [3, 5, 9, 0]],

         [[8, 1, 6, 3],
          [3, 5, 9, 7],
          [9, 2, 3, 3],
          [3, 8, 6, 9]],

         [[7, 6, 3, 9],
          [6, 6, 6, 1],
          [3, 4, 3, 1],
          [0, 5, 8, 6]]],


        [[[8, 9, 1, 0],
          [3, 1, 3, 4],
          [7, 6, 1, 4],
          [3, 3, 7, 6]],

         [[8, 6, 4, 4],
          [7, 0, 0, 9],
          [8, 8, 4, 8],
          [6, 1, 6, 8]],

         [[7, 9, 1, 7],
          [1, 7, 9, 8],
          [7, 1, 3, 1],
          [8, 7, 5, 1]]]]])

In [50]:
random_array_5.shape, random_array_5.ndim

((1, 2, 3, 4, 4), 5)

In [59]:
random_array_5.shape

(1, 2, 3, 4, 4)

In [66]:
# :ä»å·¦åˆ°å³ï¼Œåˆ†åˆ«æ˜¯ä»æœ€å¤–å±‚åˆ°æœ€å†…å±‚
# è¿™ä¸ªä¾‹å­ä¸­ï¼Œ[:, :, :, :2]è¡¨ç¤ºä»æœ€å†…å±‚ä¸­å–å¾—å‰2è¡Œçš„æ•°æ®
random_array_5[:, :, :, :2]

array([[[[[7, 1, 5, 7],
          [9, 2, 4, 8]],

         [[8, 1, 6, 3],
          [3, 5, 9, 7]],

         [[7, 6, 3, 9],
          [6, 6, 6, 1]]],


        [[[8, 9, 1, 0],
          [3, 1, 3, 4]],

         [[8, 6, 4, 4],
          [7, 0, 0, 9]],

         [[7, 9, 1, 7],
          [1, 7, 9, 8]]]]])

## æ“ä½œå’Œæ¯”è¾ƒæ•°ç»„array

In [67]:
# æ“ä½œåŒ…æ‹¬åŠ ã€å‡ã€ä¹˜ã€é™¤ç­‰æ“ä½œ
a1

array([1, 2, 3])

In [70]:
ones = np.ones(3)
twos = ones * 2

In [71]:
twos

array([2., 2., 2.])

In [76]:
a1 / twos

array([0.5, 1. , 1.5])

In [75]:
# // å°±æ˜¯ç›¸é™¤ä¹‹åä¿ç•™æ•´æ•°éƒ¨åˆ†ï¼ˆåˆ é™¤å°æ•°ï¼‰
a1 // twos

array([0., 1., 1.])

In [77]:
# å–æ¨¡ï¼Œç›¸å½“äºPythonä¸­ a1 % twos
np.mod(a1, twos)

array([1., 0., 1.])

In [78]:
np.exp(twos)

array([7.3890561, 7.3890561, 7.3890561])

## æ•°æ®æ•´åˆ

In [80]:
# np.sum()
massive_data = np.random.rand(100000)

In [82]:
%timeit sum(massive_data)
%timeit np.sum(massive_data)

3.51 ms Â± 104 Î¼s per loop (mean Â± std. dev. of 7 runs, 100 loops each)
13.5 Î¼s Â± 20 ns per loop (mean Â± std. dev. of 7 runs, 100,000 loops each)

In [83]:
# mac m3èŠ¯ç‰‡çš„æ€§èƒ½å¾ˆå¼ºå¤§
# åŸè§†é¢‘ä¸­åˆ†åˆ«éœ€è¦17.9æ¯«ç§’ã€34å¾®ç§’

In [84]:
34/13.5

2.5185185185185186

In [85]:
np.mean(a2)

np.float64(3.5)

In [86]:
np.max(a2)

np.int64(6)

In [87]:
np.min(a2)

np.int64(1)

In [88]:
np.std(a2)

np.float64(1.707825127659933)

In [89]:
np.var(a2)

np.float64(2.9166666666666665)

In [90]:
np.sqrt(np.var(a2)) == np.std(a2)

np.True_

In [92]:
high_var_array = np.array([1,5,10,20,100,1000,20000,500000])
low_var_array = np.array([2,4,6,8])

In [93]:
np.var(high_var_array), np.var(low_var_array)

(np.float64(27056646151.75), np.float64(5.0))

In [94]:
#  æ•°æ®è½¬ç½®
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [95]:
a2.shape

(2, 3)

In [100]:
a2_reshape = np.transpose(a2)
a2_reshape

array([[1, 4],
       [2, 5],
       [3, 6]])

In [99]:
a2_reshape.shape

(3, 2)

In [105]:
#  çŸ©é˜µç‚¹ä¹˜
np.random.seed(123)
mat1 = np.random.randint(1,5,size=(5,3))
mat2 = np.random.randint(1,5,size=(3,5))
mat1, mat2

(array([[3, 2, 3],
        [3, 1, 3],
        [3, 2, 4],
        [3, 4, 2],
        [3, 2, 1]]),
 array([[2, 3, 4, 2, 1],
        [3, 1, 4, 2, 4],
        [3, 2, 1, 1, 1]]))

In [108]:
np.dot(mat1, mat2)

array([[21, 17, 23, 13, 14],
       [18, 16, 19, 11, 10],
       [24, 19, 24, 14, 15],
       [24, 17, 30, 16, 21],
       [15, 13, 21, 11, 12]])

In [109]:
# å°æ¡ˆä¾‹ï¼Œè®¡ç®—3ç§æ­¦æ±‰å°åƒåœ¨æ¯å¤©çš„é”€é‡ä»¥åŠé”€å”®é¢
np.random.seed(123)
sale_amount = np.random.randint(0,20,size=(5,3))
sale_amount

array([[13,  2,  2],
       [ 6, 17, 19],
       [10,  1,  0],
       [17, 15,  9],
       [ 0, 14,  0]])

In [110]:
# åˆ›å»ºæ•°æ®æ¡†ï¼Œæ·»åŠ indexå’Œcolumn_name
weekly_sales = pd.DataFrame(sale_amount, 
                            index=["å‘¨ä¸€","å‘¨äºŒ","å‘¨ä¸‰","å‘¨å››","å‘¨äº”"],
                            columns=["çƒ­å¹²é¢", "æ±¤é¢", "ç‚¸é…±é¢"])
weekly_sales

    çƒ­å¹²é¢  æ±¤é¢  ç‚¸é…±é¢
å‘¨ä¸€   13   2    2
å‘¨äºŒ    6  17   19
å‘¨ä¸‰   10   1    0
å‘¨å››   17  15    9
å‘¨äº”    0  14    0

In [111]:
# é”€é‡å·²çŸ¥ï¼Œéœ€è¦çŸ¥é“å•ä»·ï¼Œæ‰èƒ½æ±‚å‡ºæ¯å¤©çš„é”€å”®é¢
unit_price = np.random.randint(1,10,size=(3,1))
unit_price

array([[4],
       [5],
       [1]])

In [112]:
total_price = weekly_sales.dot(unit_price)
total_price

      0
å‘¨ä¸€   64
å‘¨äºŒ  128
å‘¨ä¸‰   45
å‘¨å››  152
å‘¨äº”   70

In [113]:
weekly_sales["é”€å”®é¢"] = total_price
weekly_sales

    çƒ­å¹²é¢  æ±¤é¢  ç‚¸é…±é¢  é”€å”®é¢
å‘¨ä¸€   13   2    2   64
å‘¨äºŒ    6  17   19  128
å‘¨ä¸‰   10   1    0   45
å‘¨å››   17  15    9  152
å‘¨äº”    0  14    0   70

In [114]:
# æ•°ç»„æ’åº

In [126]:
random_array = np.random.randint(1,10, size=(2,3,5))
random_array

array([[[4, 4, 8, 7, 9],
        [7, 5, 5, 8, 1],
        [1, 9, 9, 5, 9]],

       [[7, 2, 7, 9, 8],
        [2, 8, 2, 8, 9],
        [8, 2, 4, 2, 9]]])

In [127]:
random_array.shape

(2, 3, 5)

In [128]:
random_array.ndim

3

In [129]:
# sort
# å¯¹æ•°æ®è¿›è¡Œæ’åºï¼Œä¸ä¼šå½±å“åŸæ•°æ®ï¼Œå‚æ•°axisé»˜è®¤ä¸º-1ï¼Œè¡¨ç¤ºä¼šä»æœ€åä¸€ç»´è¿›è¡Œæ’åºï¼ˆæœ€åä¸€ç»´åº”è¯¥æ˜¯æœ€å†…å±‚äºŒç»´çŸ©é˜µçš„åˆ—ï¼‰
# å³å¯¹æ¯ä¸€è¡Œçš„å„åˆ—è¿›è¡Œæ’åº
np.sort(random_array,axis=-1)

array([[[4, 4, 7, 8, 9],
        [1, 5, 5, 7, 8],
        [1, 5, 9, 9, 9]],

       [[2, 7, 7, 8, 9],
        [2, 2, 8, 8, 9],
        [2, 2, 4, 8, 9]]])

In [130]:
np.sort(random_array,axis=0) 
# ä»æ•°ç»„çš„ç¬¬ä¸€ç»´è¿›è¡Œæ’åºï¼Œå¯ä»¥çœ‹åˆ°ï¼Œåœ¨å†…å±‚çš„2ç»´æ•°ç»„çš„å¯¹åº”ä½ç½®çš„å„ä¸ªæ•°å­—è¿›è¡Œæ’åº

array([[[4, 2, 7, 7, 8],
        [2, 5, 2, 8, 1],
        [1, 2, 4, 2, 9]],

       [[7, 4, 8, 9, 9],
        [7, 8, 5, 8, 9],
        [8, 9, 9, 5, 9]]])

In [131]:
np.sort(random_array,axis=1)
# åœ¨æ­¤å¤„ï¼Œå¯¹æ¯ä¸€åˆ—çš„æ•°æ®å„è¡Œè¿›è¡Œæ’åº

array([[[1, 4, 5, 5, 1],
        [4, 5, 8, 7, 9],
        [7, 9, 9, 8, 9]],

       [[2, 2, 2, 2, 8],
        [7, 2, 4, 8, 9],
        [8, 8, 7, 9, 9]]])

In [ ]:
# ç‰¹åˆ«æŒ‡å‡ºï¼Œå¯¹äºäºŒç»´çš„æ•°ç»„ï¼Œaxis=-1å’Œaxis=1ç­‰ä»·
# ç†ç”± (5,3)ï¼Œ -1å–çš„æ˜¯æœ«å°¾ç´¢å¼•æ˜¯3ï¼›1ä¹Ÿå–çš„æ˜¯ç¬¬äºŒä½ç´¢å¼•ï¼Œä¹Ÿæ˜¯3

In [132]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [133]:
np.sort(a2, axis=-1)

array([[1, 2, 3],
       [4, 5, 6]])

In [134]:
np.sort(a2, axis=1)

array([[1, 2, 3],
       [4, 5, 6]])

In [135]:
random_array

array([[[4, 4, 8, 7, 9],
        [7, 5, 5, 8, 1],
        [1, 9, 9, 5, 9]],

       [[7, 2, 7, 9, 8],
        [2, 8, 2, 8, 9],
        [8, 2, 4, 2, 9]]])

In [136]:
# Returns the indices that would sort an array.
# è¿”å›æ’åºåå¾—åˆ°çš„é¡ºåºç´¢å¼•ï¼Œå‚æ•°axisé»˜è®¤ä¸º-1ï¼Œå³æŒ‰ç…§æœ€åä¸€ä¸ªç»´åº¦è¿›è¡Œæ’åºï¼Œæœ€å†…å±‚äºŒç»´çŸ©é˜µçš„åˆ—
np.argsort(random_array)

array([[[0, 1, 3, 2, 4],
        [4, 1, 2, 0, 3],
        [0, 3, 1, 2, 4]],

       [[1, 0, 2, 4, 3],
        [0, 2, 1, 3, 4],
        [1, 3, 2, 0, 4]]])

In [138]:
# åŒç†argmaxå’Œargminçš„æ„æ€å°±å¾ˆæ¸…æ¥šäº†ï¼ğŸ«¶
np.argmax(random_array)
# ä»è¿™é‡Œå¯ä»¥çœ‹å‡ºï¼Œå¦‚æœä¸æŒ‡å®šaxiså‚æ•°ï¼Œé‚£ä¹ˆnumpyä¼šé»˜è®¤å°†æ•°ç»„å¹³å±•ä¸ºä¸€ç»´æ•°ç»„ï¼Œç„¶åå†å¯»æ‰¾ä¸€ç»´æ•°ç»„ä¸­æœ€å¤§å€¼çš„ç´¢å¼•

np.int64(4)

In [139]:
# è‹¥æŒ‡å®šaxis
np.argmax(random_array, axis=1)
# ä»è¿™é‡Œå¯ä»¥çœ‹å‡ºï¼ŒæŒ‡å®šaxis=1ä¼šæŠŠå†…å±‚çš„2ç»´æ•°ç»„ï¼Œå¯»æ‰¾æ¯ä¸€åˆ—ä¸­æœ€å¤§å€¼æ‰€åœ¨è¡Œçš„ç´¢å¼•

array([[1, 2, 2, 1, 0],
       [2, 1, 0, 0, 1]])

# å®æˆ˜è®­ç»ƒ

<img src = "./images/numpy-panda.jpeg"></img>

In [148]:
from matplotlib.image import imread

# æŠŠä¸€å¼ å›¾ç‰‡è½¬æ¢ä¸ºnumpyæ•°æ®æ ¼å¼
panda = imread("./images/numpy-panda.jpeg")

In [149]:
panda.size, panda.shape, panda.ndim

(3271680, (852, 1280, 3), 3)

In [153]:
print(type(panda))

<class 'numpy.ndarray'>